body {
  background-color: dimgrey;
}

/* #navbar {
color: black;
background-color: darkgrey;
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-style: bold;
}

.nav-link {
    color: black;
    background-color: darkgrey;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold;
    float: left;

} */

#weathercontainer {
    background-color: darkgrey;
    width: 60%;
    margin-top: 50px;
    /* border-radius: 30px 30px 30px 30px;  */
}

#newscontainer {
background-color: darkgrey;
width: 60%;
/* border-radius: 30px 30px 30px 30px;  */
}

@media only screen and (max-width: 600px) {
    #newscontainer {
      width: 100%;
    }
  }

#weathernav {
    float:right;
}

.mt-0 mb-1 {
max-width: 20%;
}

.mb-1 {
    float:left;
}

#btnAddFavourite {
    float: right;
    size: 100px;
}

#btnFavourites {
    float: right;
    size: 100px;
}

#userInputForm {
    float:right;
}

.article-image {
    max-height: 50px;
}

.list-unstyled {
    max-width: 90%;
}

#headlinesbutton {
    background-color: dimgrey;
    color: dimgrey;
}

#currentdayweather {
    width: 25%;
    float: left;
}

#daytwo {
    width: 25%;
    float: left;
}

#daythree {
    width: 25%;
    float: left;
}

#dayfour {
    width: 25%;
    float: left;
}

h1 {
color: ghostwhite;
text-align: center;
size: 20px;
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-weight: bold;
}

.fa-star {
    color: gold;
    font-size: 1.2rem;
    float: right;
}

.fa-star:focus {
    box-shadow: none;
}

.fa-star:hover {
    color: gold;
}